*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color:#202124;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    margin-bottom: 20px;
}

input{
    background-color: transparent;
    outline: none;
    border: 2px solid gray;
    padding: 15px;
    border-radius: 30px;
    width: 500px;
}